/Cal.xcodeproj/xcuserdata/bunny.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Cal.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Cal.xcodeproj/project.xcworkspace/xcuserdata
/Cal.xcodeproj/xcuserdata
/DerivedData
